@charset "UTF-8";

* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background-color: rgba(223, 223, 223, 0.432);
}

header h1 {
    padding: 12px;
    color: white;
    margin-left: 15px;
}

header {
    background-image: linear-gradient(to left, black, rgba(0, 0, 0, 0.459));
    height: 68px;
}

nav a {
    font-size: 1.5em;
    margin-top: 24px;
}

/* classes css */

.fundo-negro {
    background: url(../img/fundo-pq.jpg);
    border-radius: 5px;
    box-shadow: 6px 6px 11px rgba(0, 0, 0, 0.336)
}

.bi-controller::before {
    content: "\f2d4";
    font-size: 52px;
}

.nav-link {
    color: black;
}

.justify-content-center {
    background-color: rgba(126, 126, 126, 0.336);
    padding: 17px;
    border-radius: 10px;
    box-shadow: 9px 8px 6px rgba(0, 0, 0, 0.123);
    padding: 8px;
}

.card {
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.288);
}

.nav-link:hover {
    color: red;
}

.contato {
    margin-top: 40px;
    font-size: 2em;
    color: white;
    padding: 27px;
    text-align: start;
}

/* ids css */

#logotipo {
    width: 91%;
    height: 108px;
    font-size: 2.8em;
    color: white;
    padding: 33px;
    text-align: center;
}

#menu-hamburger {
    display: block;
    float: right;
    font-size: 2rem;
}

#botoes-cabecalho {
    font-size: 35px;
    margin: 30px 80px;
    margin-left: 90px;
}

.bi-search::before {
    content: "\f52a";
    margin-right: 51px;
    margin-left: -40px;
    color: black;
}

#banner {
    background: url("../img/Apocalypse-edit.jpg");
    height: 730px;
    top: 227px;
    background-size: 100vw 100%;
    margin-top: 143px;
    filter: contrast(120%);
}

#botton-banner {
    color: rgba(255, 255, 255, 0.75);
    text-align: center;
    padding-top: 200px;
}

#botton-banner > h1 {
    margin-bottom: 20px;
}

#botton-banner .bi-play-circle {
    font-size: 5vw;
    margin: 20px;
    color: rgba(255, 255, 255, 0.75);
}

#banner #information1 {
    margin: 2vw;
    margin-right: 30px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.322);
    padding: 15px;
    border-radius: 10px;
    
}

#banner #information1 .bi-chat-left {
    margin-left: 20px;
}

#banner #information1 .bi-heart {
    margin-left: 20px;
}

#menu-mobile {
    display: none;
    float: right;
    font-size: 3em;
    margin-top: 20px;
    margin-right: -171px;
}

#cards {
    margin-top: -101px;
}

#rodape {
    background: url(../img/fundo-gd.jpg);
    height: 510px;
    top: 80px;
    background-size: 100vw 100%;
    margin-top: 70px;
    filter: brightness(0.7);
}

#logotipo-rodape {
    width: 91%;
    height: 108px;
    font-size: 4em;
    color: white;
    padding: 33px;
    text-align: start;
}

#contato-endereco {
    color: white;
    font-size: 2em;
    text-align: center;
    margin-top: 435px;
}

#icons-rodape {
    color: white;
    font-size: 4em;
    text-align: right;
    margin: 27px -51px;
    padding: 3px;
}

#icons-rodape a {
    color: white;
}

#menu-slide {
    z-index: 10;
    position: absolute;
    top: 95px;
    left: -200px;
    width: 200px;
    height: 400px;
    background-color: snow;
    border: 1px silver solid;
    transition: 0.5s ease-in;
}

/* Ajustes de resposividade */

@media screen and (max-width: 1715px) {
    #botoes-cabecalho {
        font-size: 35px;
        margin-left: 53px;
        margin: 22px 57px;;
    }
}

@media screen and (max-width: 1680px) {
    #rodape {
        font-size: 0.7em;
    }
}

@media screen and (max-width: 1350px) {
    .justify-content-center {
        display: none;
    }
    #botoes-cabecalho {
        display: none;
    }
    #menu-mobile {
        display: block;
        margin-right: 15px;
    }
    #logotipo {
        font-size: 2.4em;
    }
}

@media screen and (max-width: 1200px) {
    #logotipo {
        font-size: 2.1em;
    }
    #logotipo span {
        display: none;
    }
}

@media screen and (max-width: 870px) {
    #rodape {
        font-size: 0.4em;
    }
}